li.dev-item {
  background: #0b5694;
  box-shadow: 0px 3px 0px 0 rgba(0, 0, 0, 0.16);
  border-radius: 6px;
  border: 1px solid #11548c;
  padding: 20px;
}

li.dev-item header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

li.dev-item header img {
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

li.dev-item header .user-info {
  margin-left: 10px;
}

li.dev-item header .user-actions {
  display: flex;
  flex: 1;
  justify-content: flex-end;
}

li.dev-item header .user-actions button {
  border: 0;
  background: 0;
  cursor: pointer;
}

li.dev-item header .user-actions button + button {
  margin-left: 15px;
}

.user-info strong {
  display: block;
  font-size: 16px;
  color: #fff;
}

.user-info span {
  font-size: 13px;
  color: #bdbdbd;
  margin-top: 2px;
  text-transform: capitalize;
}

li.dev-item p {
  color: #dedede;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
}

li.dev-item a {
  color: #fff;
  display: flex;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  flex-direction: row;
}

li.dev-item a:hover {
  color: rgba(250, 250, 250, 0.8);
}

li.dev-item a svg {
  display: flex;
  align-self: center;
  margin-left: 5px;
}
