@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  background: url('assets/images/background.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
}

body:after {
  content: "";
  z-index: -1;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  background: rgba(18, 76, 139, 0.5);
  background: -moz-linear-gradient(
    -45deg,
    rgba(18, 76, 139, 0.5) 0%,
    rgba(20, 52, 112, 0.5) 100%
  );
  background: -webkit-gradient(
    left top,
    right bottom,
    color-stop(0%, rgba(18, 76, 139, 0.44)),
    color-stop(100%, rgba(20, 52, 112, 0.5))
  );
  background: -webkit-linear-gradient(
    -45deg,
    rgba(18, 76, 139, 0.5) 0%,
    rgba(20, 52, 112, 0.5) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    rgba(18, 76, 139, 0.5) 0%,
    rgba(20, 52, 112, 0.5) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    rgba(18, 76, 139, 0.5) 0%,
    rgba(20, 52, 112, 0.5) 100%
  );
  background: linear-gradient(
    135deg,
    rgba(18, 76, 139, 0.5) 0%,
    rgba(20, 52, 112, 0.5) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#124c8b', endColorstr='#143470', GradientType=1 );
}

body,
input,
button {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.1em;
}

p {
  letter-spacing: 0;
}
