aside {
  width: 320px;
  box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
  border-radius: 2px;
  padding: 0px 20px;
}

aside .register-icon {
  display: flex;
  justify-content: center;
}

aside .register-icon img {
  width: 150px;
  height: 150px;
}

aside strong {
  font-size: 20px;
  text-align: center;
  display: block;
  color: #fff;
}

aside form {
  margin-top: 30px;
}

aside form .input-block {
  display: flex;
  margin-top: 20px;
  background: #13548c;
  box-shadow: 0px 3px 0px 0 rgba(0, 0, 0, 0.16);
  border-radius: 3px;
  border: 1.4px solid transparent;
  transition: border 0.4s;
}

aside form .input-block:hover {
  border: 1.4px solid #2897af;
}

aside form .input-block + .input-block {
  flex-direction: row;
}

aside form .input-group {
  margin-top: 20px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

aside form .input-group .input-block {
  margin-top: 0;
}

aside form .input-block label {
  display: flex;
  align-items: center;
  justify-content: center;
}

aside form .input-block label svg {
  margin-left: 10px;
}

aside form .input-block input {
  width: 100%;
  height: 32px;
  border-radius: 4px;
  font-size: 14px;
  color: #fff;
  background: #13548c;
  border: 0;
  transition: border 0.3s;
  margin-left: 10px;
}

aside form .input-block input::placeholder {
  color: #b7b7b7;
}

aside form button[type='submit'] {
  width: 100%;
  box-shadow: 0px 3px 0px 0 rgba(0, 0, 0, 0.16);
  border: 0;
  margin-top: 30px;
  background: rgba(69, 245, 227, 1);
  background: -moz-radial-gradient(
    center,
    ellipse cover,
    rgba(69, 245, 227, 1) 0%,
    rgba(79, 188, 239, 1) 100%
  );
  background: -webkit-gradient(
    radial,
    center center,
    0px,
    center center,
    100%,
    color-stop(0%, rgba(69, 245, 227, 1)),
    color-stop(100%, rgba(79, 188, 239, 1))
  );
  background: -webkit-radial-gradient(
    center,
    ellipse cover,
    rgba(69, 245, 227, 1) 0%,
    rgba(79, 188, 239, 1) 100%
  );
  background: -o-radial-gradient(
    center,
    ellipse cover,
    rgba(69, 245, 227, 1) 0%,
    rgba(79, 188, 239, 1) 100%
  );
  background: -ms-radial-gradient(
    center,
    ellipse cover,
    rgba(69, 245, 227, 1) 0%,
    rgba(79, 188, 239, 1) 100%
  );
  background: radial-gradient(
    ellipse at center,
    rgba(69, 245, 227, 1) 0%,
    rgba(79, 188, 239, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45f5e3', endColorstr='#4fbcef', GradientType=1 );
  border-radius: 30px;
  padding: 15px 20px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition: opacity 0.3s;
}

aside form button[type='submit']:hover {
  opacity: 0.8;
}
